<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="true_miner_control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <true_miner_control.Properties.Settings>
            <setting name="save_textbox_dag" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="save_textbox_equi" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="save_textbox_dag_link" serializeAs="String">
                <value />
            </setting>
            <setting name="save_textbox_equi_link" serializeAs="String">
                <value />
            </setting>
            <setting name="save_textbox_W" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="save_textbox_prixW" serializeAs="String">
                <value>0.1449</value>
            </setting>
            <setting name="save_textbox_dag_decred" serializeAs="String">
                <value>168</value>
            </setting>
            <setting name="save_textbox_decred" serializeAs="String">
                <value>1680</value>
            </setting>
            <setting name="save_textbox_dag_sia" serializeAs="String">
                <value>183</value>
            </setting>
            <setting name="save_textbox_sia" serializeAs="String">
                <value>1830</value>
            </setting>
            <setting name="save_textbox_dag_lbry" serializeAs="String">
                <value>173</value>
            </setting>
            <setting name="save_textbox_lbry" serializeAs="String">
                <value>165</value>
            </setting>
            <setting name="save_textbox_pascal" serializeAs="String">
                <value>1632</value>
            </setting>
            <setting name="save_textbox_dag_pascal" serializeAs="String">
                <value>163</value>
            </setting>
        </true_miner_control.Properties.Settings>
    </userSettings>
</configuration>